#######
# OSU #
#######

OSU_API_CLIENT_ID=
OSU_API_CLIENT_SECRET=

OSU_API_KEY=

IRC_USERNAME=
IRC_PASSWORD=

BOT_PREFIX=

###############
# DISCORD BOT #
###############

DISCORD_BOT_TOKEN=

########################
# POSTGRESQL CONNECTOR #
########################

PG_HOSTNAME=
PG_PORT=
PG_USERNAME=
PG_PASSWORD=
PG_DATABASE=
PG_MAX_CONN=
PG_IDLE_TIMEOUT=
PG_CONN_TIMEOUT=

################
# TABLES NAMES #
################

TABLE_BEATMAPS=
TABLE_BEATMAPSETS=
TABLE_POOLS=
TABLE_USERS=
TABLE_TOURNAMENTS=

############
# SETTINGS #
############

# Whether debug logging
DEBUG_LOGGING=
THIRD_PARTY_API=

OWNER_DISCORD_ID=
OWNER_OSU_ID=

############
# WEBHOOKS #
############

LOG_WEBHOOK=
