#######
# OSU #
#######

OSU_API_CLIENT_ID=
OSU_API_CLIENT_SECRET=

IRC_USERNAME=
IRC_PASSWORD=

###############
# DISCORD BOT #
###############

DISCORD_BOT_TOKEN=

########################
# POSTGRESQL CONNECTOR #
########################

PG_HOSTNAME=
PG_USERNAME=
PG_PASSWORD=
PG_DATABASE=
PG_MAX_CONN=
PG_IDLE_TIMEOUT=
PG_CONN_TIMEOUT=

################
# TABLES NAMES #
################

TABLE_BEATMAPS=
TABLE_BEATMAPSETS=
TABLE_POOLS=
TALBE_USERS=
TABLE_TOURNAMENTS=

############
# SETTINGS #
############

# Whether debug logging
DEBUG_LOGGING=